html {
    position: relative;
    min-height: 100%;
}

/* Navbar */
.navbar {
    background-color: #f5f5f5;
    border-bottom: 3px solid #e5e5e5;
    margin: 0 0 1rem 0;
}
.logo {
    height: 54px;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}
.navbar-brand span {
    vertical-align: middle;
}
.navbar ul {
    margin-left: auto;
}

#content {
    padding-bottom: 100px;
}
/* Footer */
footer {
    background-color: #f5f5f5;
    border-top: 3px solid #e5e5e5;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-group {
    flex-direction: row;
    margin: 0 0 0.2rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0.2rem;
}
.form-group > div {
    display: flex;
    padding: 0 1rem;
}
.form-group label {
    flex: 1;
    padding: 0.2rem 0.4rem 0 0.4rem;
}
.form-check {
    display: flex;
    flex: 1;
}
.form-check input {
    display: block;
    margin-left: 0 !important;
    align-self: center;
}
/* Alternative row colors */
.form-group:nth-child(odd) {
    background-color: #f5f5f5;
}
@media (prefers-color-scheme: dark) {
    .form-group:nth-child(odd) {
        background-color: #2f353e;
    }
}
legend {
    font-weight: bold;
}
legend.categories {
    font-size: 1.2rem;
}
.headers {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}
.headers > div {
    display: flex;
    padding: 0 1rem;
}
.headers > legend {
    flex: 1;
    padding-bottom: 0.2rem;
}
.hints > .header {
    align-self: flex-end;
}
.header {
    position: relative;
    text-align: left;
    align-self: end;
    flex: 1;
    padding-left: 1.65rem;
}
.header-label {
    position: absolute;
    display: block;
    top: 0;
    left: 2.5rem;
    text-align: left;
    opacity: 0.75;
}
.hints {
    display: none;
}
@media (min-width: 768px) {
    .header {
        flex: 0 0.3 3rem;
        min-width: 3.55rem;
        padding-left: 1.25rem;
        text-align: right;
    }
    .headers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0 1rem;
    }
    .headers > legend {
        min-width: 20rem;
    }
    .hints {
        display: flex;
    }
    .header-label {
        position: absolute;
        display: block;
        top: -1.25rem;
        left: 2rem;
        text-align: center;
        min-width: 2rem;
        opacity: 0.75;
    }
}
fieldset {
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
    .form-check {
        flex: 0 0.3 4rem;
        padding-left: 1.75rem;
    }
    .form-group {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 0 0 0.5rem;
    }
    .form-group > label {
        flex: 0 8 65%;
        padding: 0.2rem;
    }
}

/* Score */
.score-container {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.score-item {
    font-size: 1.2rem;
    background-color: #f5f5f5;
    padding: 0.3rem 0.7rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-basis: calc(50% - 0.15rem);
    justify-content: space-between;
}
.score-item p {
    margin: 0;
}
.total {
    clear: both;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* Cripsy form styling */
.asteriskField {
    display: none;
}

/* Charts */
.chart-container {
    padding: 0 1rem 0 0;
    max-width: 1000px;
    margin: 0 auto;
}
#result-hist-chart {
    max-width: 400px;
}
#result-bar-chart {
    max-height: 200px;
}

/* FIXME */
.form-label {
    margin-bottom: 0;
}
.mb-3 {
    margin-bottom: 0 !important;
}
