{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}{% endblock %}</title>
        <link href="{% static 'maia_v2.css' %}" rel="stylesheet">
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body>
        {% block content %}(no content){% endblock %}
    </body>
</html>
