{% extends 'maia_v2/base.html' %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Home" %}{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>Abelify</h1>
    <p>come get your tests</p>
    <ul>
    {% for questionnaire in questionnaires %}
        <li class="questionnaire">
            <a href="{% url 'questionnaire' questionnaire.internal_name %}">{{ questionnaire.name }}</a> - {{ questionnaire.description }}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}