{% extends 'maia_v2/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}{{ questionnaire.display_name }}{% endblock %}

{% block content %}
<div class="container-lg" id="content">
    <h1>{{ questionnaire.display_name }}</h1>
    <p>{{ questionnaire.description }}</p>
    <p>{{ questionnaire.instructions }}</p>
    {% crispy form %}
    <p class="total">Total score: <span id="total-score">-</span></p>
    <div id="score" class="score-container">
        {% for category in categories %}
        <div class="score-item">
            <p class="category">{{ category.name }}</p>
            <p class="{{ category.internal_name }} score">-</p>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'maia_v2.js' %}"></script>
</div>
{% endblock %}