{% extends 'maia_v2/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}{{ questionnaire.name }}{% endblock %}

{% block js %}
<script src="{% static 'questionnaire.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-lg">
    <h1>{{ questionnaire.name }}</h1>
    <p>Read the following statements and select the response that best describes your experience over the past two weeks.</p>
    {% crispy form %}
    <div id="score">
        <ul>
        {% for category in categories %}
            <li>{{ category.name }}: <span class="{{ category.internal_name }} score">-</span></li>
        {% endfor %}
        </ul>
        <p>Total score: <span id="total-score">-</span></p>
    </div>
<script src="{% static 'maia_v2.js' %}"></script>
{% endblock %}